<div class="row">
	{{ if eq .Name ""}}
	<div class="small-12 columns">
		<h3>Welcome!</h3>
		<p>Looks like it's your first time! We will make this as easy as possible for you.</p>
		<form action="/t/save/{{.Hash}}" method="post">
			<input type="hidden" name="id" value="{{.ID}}">
			<label for="name">Name Your Tracker
			<input type="text" name="name" id="name"></label>
			<input type="hidden" name="_csrf" value="{{.Token}}">
			<button type="submit">Update Tracker</button>
		</form>
		<p>Super easy!</p>
	</div>
	{{ else }}
	<div class="fixed">
	  <nav class="top-bar" data-topbar role="navigation">
	  	<ul class="title-area">
	  	  <li class="name">
	  	    <h1><a href="#">{{ .Name }} <small>Expense Tracker</small></a></h1>
	  	  </li>
	  	   <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
	  	  <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	  	</ul>
	  	<section class="top-bar-section">
	      <!-- Left Nav Section -->
	      <ul class="left" data-tab>
	        {{ if ne .All 0.00 }}<li class="active"><a href="#today">Today</a></li>{{ end }}
	        <li {{if eq .All 0.00 }}class="active"{{ end }}><a href="#addItem">Add Item</a></li>
	        {{ if ne .All 0.00 }}<li><a href="#viewStats">View Stats</a></li>{{ end }}
	      </ul>
	      <ul class="left">
	      	<li {{ if eq .Remember true }}class="active"{{ end }}><a href="/t/remember/{{.Hash}}">Remember Me</a></li>
	      </ul>
	    </section>
	  </nav>
	</div>
	<!-- Alert for when saving an item -->
	<div class="small-12 columns">
		{{ if eq .SavedItem true }}
		<div class="alert-box">Item has been saved</div>
		{{ end }}
	</div>
	<div class="small-12 columns">
		<!-- Tabs nav -->
		<div class="tabs-content">
		{{ if ne .All 0.00 }}
		  <section class="content active" id="today" role="tabpanel" aria-hidden="false">
		  	<table>
		  		<thead>
		  			<tr>
		  				<th>Label</th>
		  				<th>Spend</th>
		  				<th>Earn</th>
		  			</tr>
		  		</thead>
		  		<tbody>
		  			{{ range .Items }}
		  			<tr>
		  				<td>{{ .Label }}</td>
		  				<td>${{ .Spend }}</td>
		  				<td>${{ .Save }}</td>
		  			</tr>
		  			{{ end }}
		  		</tbody>
		  	</table>
		  </section>
		  {{ end }}
		  <section role="tabpanel" aria-hidden="false" class="content {{if eq .All 0.00 }}active{{ end }}" id="addItem">
		  	<!-- Add Item Tab -->
		    <form action="/i/new/{{.Hash}}" method="post">
		    	<p>Fill out the simple form below, we'll handle the rest.</p>
		    	<input type="hidden" name="id" value="{{.ID}}">
		    	<div class="row">
		    		<div class="small-12 columns">
		    			<label>Label
		    				<input type="text" name="label" id="label" required autofocus>	
		    			</label>
		    		</div>
		    	</div>
		    	<p>Did you:</p>
		    	<div class="row">
		    		<div class="small-12 large-6 column">
		    			<div class="row">
		    				<div class="small-12 columns">
		    					<label for="spend">Spend money?</label>
		    					<div class="row">
		    						<div class="small-12 columns">
		    						  <div class="row collapse prefix-radius">
		    						    <div class="small-1 columns">
		    						      <span class="prefix">$</span>
		    						    </div>
		    						    <div class="small-11 columns">
		    						      <input type="text" placeholder="0.00" name="spend" id="spend">
		    						    </div>
		    						  </div>
		    						</div>
		    					</div>
		    				</div>
		    			</div>
		    		</div>
		    		<div class="small-12 large-6 column">
		    			<div class="row">
		    				<div class="small-12 columns">
		    					<label for="save">Earn Money?</label>
		    					<div class="row">
		    						<div class="small-12 columns">
		    						  <div class="row collapse prefix-radius">
		    						    <div class="small-1 columns">
		    						      <span class="prefix">$</span>
		    						    </div>
		    						    <div class="small-11 columns">
		    						      <input type="text" placeholder="0.00" name="save" id="save">
		    						    </div>
		    						  </div>
		    						</div>
		    					</div>
		    				</div>
		    			</div>
		    		</div>
		    	</div>
		    	<input type="hidden" name="_csrf" value="{{.Token}}">
		    	<button tye="submit">Record Item</button>
		    </form>
		  </section>
		  {{ if ne .All 0.00 }}
		  <section role="tabpanel" aria-hidden="true" class="content" id="viewStats">
		  	<!-- Stats tab -->
		    <table role="grid">
		    	<thead>
		    		<tr>
		    			<th>Day</th>
		    			<th>Month</th>
		    			<th>All</th>
		    		</tr>
		    	</thead>
		    	<tbody>
		    		<tr>
		    			<td>${{ .Day }}</td>
		    			<td>${{ .Month }}</td>
		    			<td>${{ .All }}</td>
		    		</tr>
		    	</tbody>
		    </table>
		  </section>
		  {{ end }}
		</div>
	</div>
	{{ end }}
</div>
<div class="row">
	<div class="small-12 columns">
		<hr>
		<p>Share me!
			<input type="text" value="http://{{.Host}}/t/{{.Hash}}"></p>
	</div>
</div>